.textPa{
  
    
   font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
   
    
}

.imagemPa{
    display: flex;
  align-items: center;
  align-items: center;
  padding: 2rem 0;
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
}

.fundo{
  
  background-color: rgba(0, 0, 0, 0.3);
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
  
  
}
.fundo2{
  
  
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
  
  
}

.fanTitle{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5cm;
}

.fanText{
  font: size 23px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2cm;
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
  
}
.wod{

  align-items: right;
  justify-content: left;
  margin-right: auto;
  
  height: auto; 
  width: auto; 
  max-width: 90%; 
  max-height: 90%;
  margin-left: 1cm;

}

.referenciasGif{
  
  align-items: right;
  justify-content: left;
  margin-right: auto;
  
  height: auto; 
  width: 50%; 
  max-width: 60%; 
  max-height: 60%;
 
  margin-top: 1cm;
  margin-left: 3cm;

}

.referenciasText{
  font-size: 15px;
  display: flex;
  align-items: center;
  align-items: center;
  padding: 2rem 0;
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
  margin-left: 18cm;
  margin-top: -10cm;
}
.final{
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.finalTitle{
  font: size 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
}
.parceriasText{
  text-indent: 25px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 6px;

}
.parceriasImage{
 
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2cm;
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
  margin-right: 1cm;
}

